*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}

.header
{
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-left: 270px;
    font-weight: 20;
    padding-top: 40px;
}

#list_items
{
    font-size: 20px;
    list-style: none;
    color:white;
    padding-bottom: 10px;
}

ul li
{
    position: relative;
    display: inline;
    padding: 20px;
}
ul
{
    padding-right: 200px;
}

#header_first
{
    font-size:45px;
    color:#030381;
    padding-top: 30px;
}
#last_button
{
    background-color: rgb(237, 68, 96);
    border-radius: 30px;
    padding:11px;

}

#input_first
{
    border-radius:35px;
    
    margin-top: 20px;
    padding-left:5px;
    font-size:16px;
    text-align: center;
    height:50px;
    width:370px;
    border:1px solid grey;
}
#input_second
{
    border-radius:35px;
    padding-left:5px;
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    height:50px;
    width:370px;
    border:1px solid grey;
}
#second_button
{
    background-color:#101091;
    color:white;
    border-radius:35px;
    padding-top: 10px;
    margin-top: 70px;
    padding-left:150px;
    padding-right:150px;
    padding-bottom:13px;
    font-size:27px;
    text-align: center;
    border:none;
}
#third_button
{
    margin-top: 30px;
    background-color:rgb(21, 174, 234);
    color:white;
    border-radius:35px;
    padding-top: 10px;
    margin-top: 20px;
    padding-left:80px;
    padding-right:80px;
    padding-bottom:13px;
    font-size:27px;
    text-align: center;
    border:none;
}
#text{
    color:white;
    position:absolute;
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: inline;
    padding-left: 200px;
    padding-top: 100px;
}

#header_second
{
    font-size: 60px;
    padding-left: 60px;
}

#search
{
    background-color: rgb(237, 68, 96);
    border-radius: 25px;
    border-style: none;
    padding:15px;
    color:white;
    font-size:18px;
    margin-top: 40px;
    margin-left: 50px;
}
#signup_form
{
    background-color: white;
    border-radius: 15px;
    height:530px;
    margin-left: 280px;
    width:550px;
     
}

#container
{
    position: absolute;
    border-radius: 25px;
    width:300px;
    text-align: center;
    display: inline;
    padding-top: 80px;
    padding-left: 500px;
}

#last_text
{
    color:rgb(173, 175, 177);
    float:right;
    padding-right:200px;
    font-size: 18px;
}
div span {
    position: relative;
    display: inline;
}

form input{
    padding:17px;
}